:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --grisClaro: #dfe9f3;

  --fuente-principal: 3.8rem;
}

/* Hack para que puedan funcionar de manera sencilla los rems */
/*Todos los rem van a valer 10px*/
html {
  font-size: 62.5%;
  /* hack para modelo caja */
  /*
  box-sizing: border-box;
  scroll-snap-type: y mandatory;*/
}
/* hack para modelo caja */
/**,
*:before,
*:after {
  box-sizing: inherit;
}*/
body {
  font-size: 16px;
  font-family: "Krub", sans-serif;
  background-image: linear-gradient(
    to top,
    var(--grisClaro) 0%,
    var(--blanco) 100%
  );
  min-height: 100%;
}
/* Hack para que puedan funcionar de manera sencilla los rems */

h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

.titulo {
  text-align: center;
  font-size: 3.8rem;
  font-family: "Krub", sans-serif;
  font-weight: bold;
}

.titulo span {
  font-size: 2rem;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.5rem;
  width: auto;
  text-align: center;
  border: none;
}

@media (min-width: 768px) {
  .boton {
    width: auto;
  }
}

.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.51);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}

.nav-bg {
  background-color: var(--secundario);
}
.navegacion-principal {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
  }
}
.navegacion-principal a {
  padding: 1rem 2rem;
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
}
.navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}
.navegacion-principal a:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .navegacion-principal a {
    margin-bottom: 0;
  }
}

.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  padding: 20px;
  position: relative;
  margin-bottom: 2rem;
}

.contenido-hero {
  padding: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  background-color: rgba(0 0 0 / 70%);
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}

@media (min-width: 768px) {
  .servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10rem;
  }
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicio h3 {
  color: var(--secundario);
  font-weight: 400;
}

.servicio p {
  line-height: 2;
  text-align: center;
}

.iconos {
  height: 15rem;
  width: 15rem;
  background-color: var(--primario);
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.formulario {
  background-color: var(--gris);
  /*
  width: min(60rem, 100%); /* utiliza el valor más pequeño*/

  margin: 0 auto;
  padding: 2rem 0rem 2rem 0rem;
  border-radius: 1rem;
}

.formulario fieldset {
  border: none;
  padding: 0;
}

.formulario legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--primario);
}

.campos {
  margin-bottom: 1rem;
  padding: 1.5rem;
  width: auto;
}

.campos label {
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.campos input,
.campos textarea {
  width: 94%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.boton:hover {
  cursor: pointer;
}

.enviar .boton {
  width: 50%;
  margin: 0.5rem;
  padding: 1.5;
  margin: 0;
  align-self: center;
  justify-self: center;
}

input.boton {
  align-self: center;
  justify-self: center;
}

/*Para que el scroll se detenga*/
.servicio,
.navegacion-principal,
.formulario {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
